.image-gallery-items {
	display: flex;
	flex-flow: column;
	width: 100vw;
	position: relative;
	left:-0.625rem;
	.image-gallery-item {
		width:100%;
		height:calc((100vh - 100px)/3);
		border: 0.625rem solid white;
		border-bottom: none; 
		background-color: black;
		box-sizing: border-box;
	}
}

@media(min-width:768px){
	.image-gallery-items{

		flex-flow: row;
		.image-gallery-item {
			// width:320px;
			height:400px;
		}
	}
}