.image-gallery-item {
    width:100%;
    height:calc((100vh - 100px)/3);
    border: 0.625rem solid white;
    border-bottom: none; 
    background-color: #9e9e9e;
    box-sizing: border-box;
    background-image: url("/public/assets/loader.svg");
    background-position: center;
    background-repeat: no-repeat;
}

@media(min-width:768px){
	.image-gallery-item {
        // width:320px;
        height:400px;
    }
}