.paganation {
	text-align: center;
	margin: 0.625rem;

	position: fixed;
    display: block;
    height: 70px;
    bottom: 0;
    left: 0px;
    margin: 0;
    width: 100%;
    line-height: 70px;
    background-color: white;
}
.paganation--btn {
    outline: none;
    background: none;
    border: none;
	font-size: 20px;
    text-decoration: none;
    color: #2196F3;
    cursor: pointer;
	&.disabled {
		color: #9E9E9E;
		cursor: default;
	}
}
.paganation__pages {
	display: inline-block;
    // vertical-align: bottom;
}
.paganation__pages__item {
    float: left;
    margin: 0 5px;
}
.paganation__nav {
	margin: 0 10px;
    // vertical-align: bottom
}

@media(min-width:768px){
	.paganation {
		margin: 0.625rem;
		position: static;
		line-height: 70px;
	}
}