.image-per-page {
    padding: 0.625rem;
    position: absolute;
    top: 70px;
    background-color: black;
    width: 100%;
    margin: 0;
    box-sizing: border-box;
}
.image-per-page__dropdown {
	color: #fff;
    font-size: 18px;
    background: transparent;
    border-color: white;
}